@import './utils/variables';
@import './base/common';
@import './base/container';
@import './components/visually-hidden';
@import './components/mobile-menu';
@import './layouts/header';
@import './layouts/hero';
@import './components/modal';
@import './layouts/advantages';
@import './layouts/work';
@import './layouts/team';
@import './layouts/clients';
@import './layouts/footer';
@import './layouts/btn-filter';
@import './layouts/card-set';
