html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 1px solid red;
}
body {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/* reset basic styles  */
.list {
  list-style: none;
  padding-left: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.button {
  cursor: pointer;
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: var(--title-font-weight);
  font-size: 28px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
