.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(233, 78, 78);

  @media screen and (min-width: 480px) {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(169, 243, 159);
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-color: rgb(118, 166, 238);
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    background-color: rgb(230, 228, 127);
  }
}
