/* Образцы работ portfolio cards */
.card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
  flex-basis: calc(100% - 30px);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.card-set__item {
  margin: 15px;
  width: 100%;
  @media screen and (min-width: 480px) {
    max-width: 450px;
  }
  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 370px;
  }
}
.card-set__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: translateY(0);
  }
}

.card-set__thumb {
  position: relative;
  overflow: hidden;
}
.card-set__float {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .card-set__thumb:hover &,
  .card-set__link:hover &,
  .card-set__link:focus & {
    transform: translateY(0);
  }
}

.card-set__float-desc {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.56;
  color: var(--white-text-color);
  @media screen and (min-width: 375px) {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
  }
}

.card-set__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.card-set__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.card-set__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-set__desc {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--secondary-font-size);
  line-height: 1.8;
  color: var(--secondary-text-color);
}
