/* header container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header  Навигация сайта */
.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header__container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
/* logo */
.logo {
  display: block;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;

  font-family: 'Raleway', sans-serif;
  font-weight: var(--title-font-weight);
  color: #000;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-web {
  color: var(--accent-color);
}
.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;

  font-weight: var(--sub-title-font-weight);
  font-size: 14px;
  letter-spacing: 0.02em;

  /* анимация ссылок nav */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* выделение и подчеркивание 
текущей страницы */
.nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.nav__link--current::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -8px;
}

/* header  авторизция*/
.auth__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}
.auth__item {
  margin-top: 0;
  margin-bottom: 0;
}
.auth__item:not(:last-child) {
  margin-right: 50px;
}

.auth__link {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;

  font-weight: var(--sub-title-font-weight);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  /* анимация ссылок auth */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.auth__letter {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
.auth__phone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}
