/* header  Навигация сайта */
.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header__container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
/* logo */
.logo {
  display: block;
  margin-right: 88px;
  padding-top: 25px;
  padding-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 26px;
  }
  font-family: 'Raleway', sans-serif;
  font-weight: var(--title-font-weight);
  color: #000;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-web {
  color: var(--accent-color);
}
.nav__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;

  font-weight: var(--sub-title-font-weight);
  font-size: 14px;
  letter-spacing: 0.02em;

  /* анимация ссылок nav */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* выделение и подчеркивание 
текущей страницы */
.nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.nav__link--current::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -8px;
}

/* header  авторизция*/
.auth__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
}
.auth__item {
  margin-top: 0;
  margin-bottom: 0;
}
.auth__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.auth__link {
  display: block;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: var(--sub-title-font-weight);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 14px;
  }

  /* анимация ссылок auth */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.auth__letter {
  width: 14px;
  height: 10px;
  fill: currentColor;
  margin-right: 8px;
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}
.auth__phone {
  width: 10px;
  height: 14px;
  fill: currentColor;
  margin-right: 8px;

  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}
