/* Герой hero section*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  max-width: 1600px;
}
.hero__title {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);

  @media screen and (min-width: 480px) {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.61;
  }

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  font-weight: var(--title-font-weight);
  font-size: var(--secondary-font-size);
  line-height: 1.8;
  letter-spacing: 0.06em;

  color: var(--white-text-color);
  background: var(--accent-color);

  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}
